/* COLORS: 
navy: #334B71
pink: #E2B6BC
green: #CEDFD6
grey: #F7F3F4
white: #FFFFFF */

body {
  margin: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 0.2em;
}

h3 {
  font-family: "Marcellus", serif;
  color: #ffffff;
  font-size: 1em;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 1.25em;
  text-align: center; /*centers the text in the div*/
  margin: auto; /*centers the div*/
  padding-bottom: 10px;
}

/* HEADER */

header {
  background-color: #334b71;
  width: 100%;
  height: 330px;
  padding-top: 25px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

nav {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 3%;
}

li a {
  font-family: "Raleway", sans-serif;
  color: #e2b6bc;
  text-align: right;
  text-decoration: none;
}

li a:hover {
  /*green line appears under word when hovered over*/
  text-decoration: underline solid #cedfd6 3px;
}

#title {
  padding-top: 30px; /*adds space between nav and logo*/
}

#logo {
  text-align: center;
  padding: 20px 0 20px 0;
}
#logo img {
  height: 75px;
  width: 75px;
}

header h1,
header h3 {
  text-align: center;
  margin: 0.85em 0.3em;
}

/* SKILLS SECTION */
#skills {
  background-color: #e2b6bc;
  width: 95%;
  height: 50%;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 5%;
}

.skills {
  width: 40%;
  margin: auto;
  /* display: inline-block; */
}

.skills img {
  width: 80%;
  height: auto;
}

#skills h4 {
  color: #334b71;
}

#skills p {
  font-family: "Marcellus", serif;
  color: #334b71;
}

/* ABOUT SECTION */

#about {
  background-color: #cedfd6;
  width: 95%;
  height: 80%;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
}

#about h4 {
  color: #334b71;
}

#about p {
  font-family: "Marcellus", serif;
  color: #334b71;
  padding: 5%;
  line-height: 2em;
}

#headshot-quote img {
  width: 60%;
  display: block;
  margin: auto;
}

#headshot-quote p {
  font-style: italic;
  text-align: center;
  width: 80%;
  margin: auto;
}

/* CONNECT SECTION */

#connect {
  background-color: #334b71;
  padding: 5%;
}

#connect p {
  font-family: "Marcellus", serif;
  color: #ffffff;
  line-height: 2em;
}

#connect h4 {
  color: #ffffff;
}

#contact-form {
  text-align: center;
}

input {
  font-family: "Marcellus", serif;
}

#message_box {
  height: 50px;
}

#connect button {
  font-family: "Marcellus", serif;
  color: #334b71;
  background-color: #e2b6bc; /*changes button background when hovered*/
  border-radius: 20%;
  padding: 5px 10px;
}

#connect button:hover {
  background-color: #cedfd6;
}

#connect img {
  width: 25px;
  height: 25px;
}

.contact-info a {
  text-decoration: none;
  color: #cedfd6;
}

.contact-info p,
.social {
  text-align: center;
}

.fab {
  color: #cedfd6;
  width: 60px;
  font-size: 2.25rem;
}

/* FOOTER */
footer {
  background-color: #334b71;
  text-align: center;
  /* height: 50px; */
}

footer p {
  margin-top: 0px;
  padding: 2%;
  color: #e2b6bc;
}

/* >500 Breakpoint to manage headshot size */
@media screen and (min-width: 500px) {
  #headshot-quote {
    margin: auto;
    text-align: center;
  }

  #headshot-quote img {
    width: 40%;
    display: inline;
    /* margin-left: 25px; */
  }

  #headshot-quote p {
    width: 40%;
    display: inline;
    padding: 0;
  }
} /*end bracket for min-width 500 */

/* TABLET BREAKPOINTS SIZES */
@media screen and (min-width: 767px) {
  nav {
    text-align: right;
    margin-right: 3%;
  }

  #logo {
    width: 60%; /* makes container 60% and justifies it to the left so logo shifts left on bigger screens*/
  }

  header h1,
  header h3 {
    width: 60%;
  }
} /*end bracket for min-width 767 */
