/* COLORS: 
navy: #334B71
pink: #E2B6BC
green: #CEDFD6
grey: #F7F3F4
white: #FFFFFF */

/* HEADER */
header {
  background-color: #334b71;
  /* change to masked image */
  height: 300px;
  margin-bottom: 20px;
  background-image: url("img/hero-emily.png");
}

nav {
  text-align: right;
}
ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 3%;
}

li a {
  font-family: "Raleway", sans-serif;
  color: #e2b6bc;
  text-align: right;
  text-decoration: none;
}

li a:hover {
  /*green line appears under word when hovered over*/
  text-decoration: underline solid #cedfd6 3px;
}

#logo img {
  height: 50px;
  width: 50px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 300;
}

h3 {
  font-family: "Marcellus", serif;
  color: #ffffff;
}

/* SKILLS SECTION */
#skills {
  background-color: #e2b6bc;
  width: 95%;
  height: 500px;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 5%;
}

h4 {
  font-family: "Raleway", sans-serif;
  color: #334b71;
  text-align: center; /*centers the text in the div*/
  margin: auto; /*centers the div*/
  padding-bottom: 10px;
}

#skills p {
  font-family: "Marcellus", serif;
  color: #334b71;
}

/* ABOUT SECTION */

#about {
  background-color: #cedfd6;
  width: 95%;
  height: 500px;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 5%;
}

#about p {
  font-family: "Marcellus", serif;
  color: #334b71;
}

/* CONNECT SECTION */

#connect {
  background-color: #334b71;
  padding-top: 5%;
}

#connect p {
  font-family: "Marcellus", serif;
  color: #ffffff;
}

#connect h4,
p {
  color: #ffffff;
}

input {
  font-family: "Marcellus", serif;
}

#message_box {
  height: 50px;
}

#connect button {
  font-family: "Marcellus", serif;
  color: #334b71;
  background-color: #e2b6bc; /*changes button background when hovered*/
  border-radius: 20%;
  padding: 5px 10px;
}

#connect button:hover {
  background-color: #cedfd6;
}

/* FOOTER */
footer {
  background-color: #334b71;
  color: #e2b6bc;
  text-align: center;
  /* height: 50px; */
}

footer p {
  margin-top: 0px;
  padding: 2%;
}
