/* COLORS: 
navy: #334B71
pink: #E2B6BC
green: #CEDFD6
grey: #F7F3F4
white: #FFFFFF */

/* HEADER */
header {
  background-color: #334b71;
  /* change to masked image */
}

ul {
  font-family: "Raleway", sans-serif;
  color: #e2b6bc;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

h3 {
  font-family: "Marcellus", serif;
  color: #ffffff;
}

/* SKILLS SECTION */
#skills {
  background-color: #e2b6bc;
}

h4 {
  font-family: "Raleway", sans-serif;
  color: #334b71;
  text-decoration: underline #cedfd6 3px;
}

#skills p {
  font-family: "Marcellus", serif;
  color: #334b71;
}

/* ABOUT SECTION */

#about {
  background-color: #cedfd6;
}

#about p {
  font-family: "Marcellus", serif;
  color: #334b71;
}

/* CONNECT SECTION */

#connect {
  background-color: #334b71;
}

#connect p {
  font-family: "Marcellus", serif;
  color: #ffffff;
}

#connect h4,
p {
  color: #ffffff;
}

input {
  font-family: "Marcellus", serif;
}

#connect button {
  font-family: "Marcellus", serif;
  color: #334b71;
  background-color: #e2b6bc;
}

/* FOOTER */
footer {
  background-color: #334b71;
  color: #e2b6bc;
}
