/* COLORS: 
navy: #334B71
pink: #E2B6BC
green: #CEDFD6
grey: #F7F3F4
white: #FFFFFF */

/* HEADER */
header {
  background-color: #334b71;
  /* change to masked image */
}

nav {
  text-align: right;
}
ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 30px;
}

li a {
  font-family: "Raleway", sans-serif;
  color: #e2b6bc;
  text-align: right;
  text-decoration: none;
}

li a:hover {
  /*green line appears under word when hovered over*/
  text-decoration: underline solid #cedfd6 3px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

h3 {
  font-family: "Marcellus", serif;
  color: #ffffff;
}

/* SKILLS SECTION */
#skills {
  background-color: #e2b6bc;
}

h4 {
  font-family: "Raleway", sans-serif;
  color: #334b71;
  text-align: center; /*centers the text in the div*/
  margin: auto; /*centers the div*/
  width: 10%; /*makes the div small so bottom border is a short line instead of full length*/
  border-bottom: 3px solid #cedfd6;
  padding-bottom: 10px;
}

#skills p {
  font-family: "Marcellus", serif;
  color: #334b71;
}

/* ABOUT SECTION */

#about {
  background-color: #cedfd6;
}

#about p {
  font-family: "Marcellus", serif;
  color: #334b71;
}

/* CONNECT SECTION */

#connect {
  background-color: #334b71;
}

#connect p {
  font-family: "Marcellus", serif;
  color: #ffffff;
}

#connect h4,
p {
  color: #ffffff;
}

input {
  font-family: "Marcellus", serif;
}

#connect button {
  font-family: "Marcellus", serif;
  color: #334b71;
  background-color: #e2b6bc; /*changes button background when hovered*/
}

#connect button:hover {
  background-color: #cedfd6;
}

/* FOOTER */
footer {
  background-color: #334b71;
  color: #e2b6bc;
  text-align: center;
}
